body {
  background-color: #666666;
}

#main {
  text-align: center;
  width: 600px;
  margin: auto;
  padding: 20px;
  background-color: #f8f6f6;
}

h1 {
    border: outset #0044aa 2px;
    background-color: white;
}

h1 img {
    width: 200px;
    margin-top: 5px;
}

h2 {
    border: outset #0099ff 1px;
    background-color: white;
}

hr {
    border-top:dashed 1px #cccccc;
    border-left: none;
    border-right: none;
    border-bottom: none;
    height:1px;
}

table {
  margin: auto;
  border-collapse: collapse;
}

td, th {
  border: 1px solid #0099ff;
}

ul {
    width: 220px;
    padding: 0px;
    margin: auto;
}

ul#service li {
    list-style-type: none;
    border: 1px solid black;
    background-color: white;
    margin: 20px;
}

ul#service li img.tsukuring {
    width: 160px;
}

ul#privacy {
    width: 500px;
    padding: 0px;
    margin: auto;
}

ul#privacy li {
    list-style-type: disc;
    border: 0px;
    background-color: white;
}

img.appstore {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

img.appicon {
    width: 100px;
    height: 100px;
}

#lancers {
    width: 185px;
    margin: auto;
}
